<div class='intro'>
<svg id='logo'width="610" height="106" viewBox="0 0 610 106" fill="none" xmlns="http://www.w3.org/2000/svg">
{{!-- <path d="M35.912 104.008C29.288 104.008 23.336 102.856 18.056 100.552C12.872 98.152 8.79201 94.888 5.81601 90.76C2.84001 86.536 1.30401 81.688 1.20801 76.216H15.176C15.656 81.016 17.624 85.096 21.08 88.456C24.536 91.72 29.48 93.352 35.912 93.352C42.056 93.352 46.952 91.768 50.6 88.6C54.248 85.336 56.072 81.208 56.072 76.216C56.072 72.376 55.016 69.256 52.904 66.856C50.792 64.456 48.152 62.632 44.984 61.384C41.816 60.136 37.544 58.792 32.168 57.352C25.544 55.624 20.216 53.896 16.184 52.168C12.248 50.44 8.84001 47.752 5.96001 44.104C3.17601 40.36 1.78401 35.368 1.78401 29.128C1.78401 23.656 3.17601 18.808 5.96001 14.584C8.74401 10.36 12.632 7.09599 17.624 4.792C22.712 2.488 28.52 1.336 35.048 1.336C44.456 1.336 52.136 3.688 58.088 8.392C64.136 13.096 67.544 19.336 68.312 27.112H53.912C53.432 22.984 51.416 19.48 47.864 16.6C44.408 13.624 39.704 12.136 33.752 12.136C28.28 12.136 23.816 13.576 20.36 16.456C16.904 19.336 15.176 23.416 15.176 28.696C15.176 32.344 16.184 35.32 18.2 37.624C20.312 39.928 22.856 41.704 25.832 42.952C28.904 44.104 33.176 45.448 38.648 46.984C45.272 48.808 50.6 50.632 54.632 52.456C58.664 54.184 62.12 56.92 65 60.664C67.88 64.312 69.32 69.304 69.32 75.64C69.32 80.536 68.024 85.144 65.432 89.464C62.84 93.784 59 97.288 53.912 99.976C48.824 102.664 42.824 104.008 35.912 104.008Z" fill="white"/>
<path d="M101.42 2.632V65.992C101.42 74.824 103.628 81.448 108.044 85.864C112.46 90.184 118.508 92.344 126.188 92.344C133.868 92.344 139.868 90.184 144.188 85.864C148.604 81.448 150.812 74.824 150.812 65.992V2.632H163.916V65.992C163.916 74.344 162.236 81.4 158.876 87.16C155.516 92.824 150.956 97.048 145.196 99.832C139.532 102.616 133.148 104.008 126.044 104.008C118.94 104.008 112.508 102.616 106.748 99.832C101.084 97.048 96.5716 92.824 93.2116 87.16C89.9476 81.4 88.3156 74.344 88.3156 65.992V2.632H101.42Z" fill="white"/>
<path d="M252.88 32.008C252.88 40.36 250 47.32 244.24 52.888C238.576 58.36 229.888 61.096 218.176 61.096H198.88V103H185.776V2.632H218.176C229.504 2.632 238.096 5.368 243.952 10.84C249.904 16.312 252.88 23.368 252.88 32.008ZM218.176 50.728C225.376 50.728 230.704 49.096 234.16 45.832C237.712 42.472 239.488 37.864 239.488 32.008C239.488 25.96 237.759 21.304 234.303 18.04C230.847 14.68 225.472 13 218.176 13H198.88V50.728H218.176Z" fill="white"/>
<path d="M322.014 103L298.11 61.96H282.27V103H269.166V2.632H301.566C309.15 2.632 315.534 3.928 320.718 6.52C325.998 9.112 329.934 12.616 332.526 17.032C335.118 21.448 336.414 26.488 336.414 32.152C336.414 39.064 334.398 45.16 330.366 50.44C326.43 55.72 320.478 59.224 312.51 60.952L337.71 103H322.014ZM282.27 51.448H301.566C308.67 51.448 313.998 49.72 317.55 46.264C321.102 42.712 322.878 38.008 322.878 32.152C322.878 26.104 321.15 21.4 317.694 18.04C314.238 14.68 308.862 13 301.566 13H282.27V51.448Z" fill="white"/>
<path d="M369.88 12.856V47.272H406.456V57.352H369.88V92.632H410.776V103H356.776V2.488H410.776V12.856H369.88Z" fill="white"/>
<path d="M532.412 3.352V103H519.308V28.696L486.188 103H476.972L443.708 28.84V103H430.604V3.352H444.716L481.58 85.72L518.444 3.352H532.412Z" fill="white"/>
<path d="M567.739 12.856V47.272H604.315V57.352H567.739V92.632H608.635V103H554.635V2.488H608.635V12.856H567.739Z" fill="white"/> --}}
<path d="M35.912 104.008C29.288 104.008 23.336 102.856 18.056 100.552C12.872 98.152 8.79201 94.888 5.81601 90.76C2.84001 86.536 1.30401 81.688 1.20801 76.216H15.176C15.656 81.016 17.624 85.096 21.08 88.456C24.536 91.72 29.48 93.352 35.912 93.352C42.056 93.352 46.952 91.768 50.6 88.6C54.248 85.336 56.072 81.208 56.072 76.216C56.072 72.376 55.016 69.256 52.904 66.856C50.792 64.456 48.152 62.632 44.984 61.384C41.816 60.136 37.544 58.792 32.168 57.352C25.544 55.624 20.216 53.896 16.184 52.168C12.248 50.44 8.84001 47.752 5.96001 44.104C3.17601 40.36 1.78401 35.368 1.78401 29.128C1.78401 23.656 3.17601 18.808 5.96001 14.584C8.74401 10.36 12.632 7.09599 17.624 4.792C22.712 2.488 28.52 1.336 35.048 1.336C44.456 1.336 52.136 3.688 58.088 8.392C64.136 13.096 67.544 19.336 68.312 27.112H53.912C53.432 22.984 51.416 19.48 47.864 16.6C44.408 13.624 39.704 12.136 33.752 12.136C28.28 12.136 23.816 13.576 20.36 16.456C16.904 19.336 15.176 23.416 15.176 28.696C15.176 32.344 16.184 35.32 18.2 37.624C20.312 39.928 22.856 41.704 25.832 42.952C28.904 44.104 33.176 45.448 38.648 46.984C45.272 48.808 50.6 50.632 54.632 52.456C58.664 54.184 62.12 56.92 65 60.664C67.88 64.312 69.32 69.304 69.32 75.64C69.32 80.536 68.024 85.144 65.432 89.464C62.84 93.784 59 97.288 53.912 99.976C48.824 102.664 42.824 104.008 35.912 104.008Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
<path d="M101.42 2.632V65.992C101.42 74.824 103.628 81.448 108.044 85.864C112.46 90.184 118.508 92.344 126.188 92.344C133.868 92.344 139.868 90.184 144.188 85.864C148.604 81.448 150.812 74.824 150.812 65.992V2.632H163.916V65.992C163.916 74.344 162.236 81.4 158.876 87.16C155.516 92.824 150.956 97.048 145.196 99.832C139.532 102.616 133.148 104.008 126.044 104.008C118.94 104.008 112.508 102.616 106.748 99.832C101.084 97.048 96.5716 92.824 93.2116 87.16C89.9476 81.4 88.3156 74.344 88.3156 65.992V2.632H101.42Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
<path d="M252.88 32.008C252.88 40.36 250 47.32 244.24 52.888C238.576 58.36 229.888 61.096 218.176 61.096H198.88V103H185.776V2.632H218.176C229.504 2.632 238.096 5.368 243.952 10.84C249.904 16.312 252.88 23.368 252.88 32.008ZM218.176 50.728C225.376 50.728 230.704 49.096 234.16 45.832C237.712 42.472 239.488 37.864 239.488 32.008C239.488 25.96 237.759 21.304 234.303 18.04C230.847 14.68 225.472 13 218.176 13H198.88V50.728H218.176Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
<path d="M322.014 103L298.11 61.96H282.27V103H269.166V2.632H301.566C309.15 2.632 315.534 3.928 320.718 6.52C325.998 9.112 329.934 12.616 332.526 17.032C335.118 21.448 336.414 26.488 336.414 32.152C336.414 39.064 334.398 45.16 330.366 50.44C326.43 55.72 320.478 59.224 312.51 60.952L337.71 103H322.014ZM282.27 51.448H301.566C308.67 51.448 313.998 49.72 317.55 46.264C321.102 42.712 322.878 38.008 322.878 32.152C322.878 26.104 321.15 21.4 317.694 18.04C314.238 14.68 308.862 13 301.566 13H282.27V51.448Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
<path d="M369.88 12.856V47.272H406.456V57.352H369.88V92.632H410.776V103H356.776V2.488H410.776V12.856H369.88Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
<path d="M532.412 3.352V103H519.308V28.696L486.188 103H476.972L443.708 28.84V103H430.604V3.352H444.716L481.58 85.72L518.444 3.352H532.412Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
<path d="M567.739 12.856V47.272H604.315V57.352H567.739V92.632H608.635V103H554.635V2.488H608.635V12.856H567.739Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
</svg>
<div class='text-center'>
<button id='startBot' type="button" class="btn btn-danger">Start Bot</button>
</div>
</div>

<div class='container'>
    <div id="articles">

    </div>
</div>

<script>

$(function () {

    $('#startBot').on('click', function() {

    $.ajax({
      method: 'GET',
      url:'/bot'
    })
    .then(function(data){
      console.log('finished')
    })
    })





})


</script>